/*
    Stylesheet von Gruppe07 fuer Header und Navigationsleiste
    Autoren: Dirk Stricker, Benjamin Ansohn McDougall, Kim Lara Feller, Louis Grümmer>
 */


body {
    padding: 0;
    margin: 0 0 1em 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: #333333;
}
/*
    Start Navigationsleiste

    Autor: Louis Grümmer
    Inspiration: https://www.youtube.com/watch?v=gXkqy0b4M5g
                 https://youtu.be/wHFflWvii3M

 */

.navBarTotal{
    display: flex;
    background-color: #C3F7F4;
    text-align: center;
    align-items: center;
    padding: .1em;
    justify-content: space-around;
    height: 50px;
}
.secondeStage{
    display: none;
    border-radius: 0 0 5px 5px;
}
.secondeStage ul li{
    font-size: large;
    font-weight: bold;
    color: #ABA27D;
    list-style: none;
}

.navBarTotal ul li:hover .secondeStage{
    display: block;
    position: absolute;
    background: #C3F7F4;
    margin-top: 15px;
    margin-left: -60px;
}

.navBarTotal ul li:hover .secondeStage ul{
    display: block;
    margin: 10px;
}

.navBarTotal ul li:hover .secondeStage ul li{
    width: 100px;
    padding: 10px;
    text-align: left
}

.navPoints{
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
    transform: translateX(-150%);
    transition: transform 0.1s ease-in;
}

.navPoints a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #ABA27D;
}

.navPoints_li {
    list-style: none;
    opacity: 0;
    padding: 15px;
}

.navbarActive{
    transform: translateX(0%);

}

#unassigned{
    opacity: 50%;
}

#unassigned:hover{
    opacity: 50%;
}
/* Implementierung der Animation für die Navigationsleiste*/

@keyframes blendInNavbar{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.switchToArrow .line1{
    transform: rotate(-25deg) translate(-6px,3px);
}

.switchToArrow .line2{
    opacity: 0;
}
.switchToArrow .line3 {
    transform: rotate(25deg) translate(-6px, -3px);
}

nav a:hover {
    color: #AB63A0;
}

.navSwitch{
    cursor: pointer;
}
.navSwitch div{
    width: 25px;
    height: 3px;
    background-color: #ABA27D;
    margin: -3px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navSwitch div:nth-child(2){
    transform:rotate(90deg);
}
/* Navigationsleiste Ende */

/*
    Logo mit Gruß-Formel und Unterschrift
    Autor:
*/
header section {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 100px 100px;
    padding: 1px;

}

header section img {
    height: 90%;
}

/* fix für das flex box um die Überschriften rechtsbündig zu bekommen
   siehe MDN Firefox ganz unten beim Flexbox Artikel, da align-self nicht hilft.
 */
header section div {
    margin-left: auto;
}

header section h1 {
    margin: 0;
    padding: 0;
    font-size: 61pt;
    font-weight: lighter;
}

header section h2 {
    position: relative;
    top: -12px;
    right: 12px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #666;
    text-align: right;
}
