body {
    padding: 0;
    margin: 0 0 1em 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: #333333;
}

nav {
    display: flex;
    background-color: #C3F7F4;
    padding: .1em;
}

nav a {
    color: #333333;
    text-decoration: none;
    padding: .45em 2em .45em 1em;
    font-weight: bold;
}

nav a:hover {
    color: #AB63A0;
}

nav a:visited {
    color: #ABA27D;
}

/* Logo mit Gruß-Formel und Unterschrift */
header section {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 100px 100px;
    padding: 1px;

}

header section img {
    height: 90%;
}

/* fix für das flex box um die Überschriften rechtsbündig zu bekommen
   siehe MDN Firefox ganz unten beim Flexbox Artikel, da align-self nicht hilft.
 */
header section div {
    margin-left: auto;
}

header section h1 {
    margin: 0;
    padding: 0;
    font-size: 61pt;
    font-weight: lighter;
}

header section h2 {
    position: relative;
    top: -12px;
    right: 12px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #666;
    text-align: right;
}
