/*
Layout des Dokuments
  Farbschema:
  cookieCrema: #ABA27D
  navBlau: #C3F7F4
  sandGeld: #F8EFC8
  zartRosé: #F5D5F0
  dunkelRosa: #AB63A0
 */
thead th a {
    cursor: pointer;
}
#unserFieldset{
    height: 560px;
    background: white;

}

.aktuellesDatum {
    background-color: #F8EFC8;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 11pt;
}

#datumsSelektion {
    display: flex;
    flex-flow: row wrap;
    background-color: #F8EFC8;
    margin-bottom: 1em;
}

#datumsSelektion input {
    padding: 2px;
    width: 98%;
    background-color: #F8EFC8;
    border-radius: 4px;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
.hauptteilKalender{
/*
hier evtl. noch grid oder flex einbauen
 */
}
#notizfeld {
    resize: none;
}

#speichernButton {
    background-color: #C3F7F4;
}

#loeschenButton {
    background-color: #adadad;
    margin-left: 32px;
    margin-top: 15px;
}

#loeschenButton:hover {
    background-color: #AB63A0;
}
#kalenderzeug {
    width: 700px;
    margin-top: 10px;
    padding: 0;
}

/* Neuer SprintKram */

.aktiverEintrag {
    border: 1px solid magenta;
    /* TODO: Klf, bam: Geiler aussehen lassen, nur prototyp */
}



