/*
Layout des Dokuments
  Farbschema:
  cookieCrema: #ABA27D
  navBlau: #C3F7F4
  sandGeld: #F8EFC8
  zartRosé: #F5D5F0
  dunkelRosa: #AB63A0
 */
thead th a {
    cursor: pointer;
}

main section fieldset form {
    display: flex;
    flex-flow: column wrap;
}

main section fieldset form div:nth-child(n+2) {
    margin-top: 1em;
}

main section fieldset form div input {
    align-items: center;
    justify-content: center;
}

#unserFieldset{
    height: 560px;
    background: white;
}

.aktuellesDatum {
    background-color: #F8EFC8;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 11pt;
}

#datumsSelektion {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
}

#datumsSelektion input {
    padding: 2px;
    width: 98%;
    background-color: #F8EFC8;
    border-radius: 4px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
.hauptteilKalender{
/*
hier evtl. noch grid oder flex einbauen
 */
}
#notizfeld {
    resize: none;
}

#speichernButton {
    background-color: #C3F7F4;
}

#speichernButton:hover {
    background-color: #AB63A0;
}

#loeschenButton {
    background-color: #adadad;
    margin-left: 32px;
}

#loeschenButton:hover {
    background-color: #AB63A0;
}

#kalenderzeug {
    width: 700px;
    margin-top: 10px;
    padding: 0;
}

.heute {
    color: #AB63A0;
    font-weight: bold;
}

.hinterlegterTermin {
    color: whitesmoke;
    background-color: #C3F7F4;
}



