/*
    Stylesheet von Gruppe07 fuer Projektseite
    Autoren: Dirk Stricker, Benjamin Ansohn McDougall, Kim Lara Feller, Louis Grümmer>
 */

/*
Layout des Dokuments
  Farbschema:
  cookieCrema: #ABA27D
  navBlau: #C3F7F4
  sandGeld: #F8EFC8
  zartRosé: #F5D5F0
  dunkelRosa: #AB63A0
 */
#projektName, #mail1, #mail2, #mail3 {
    cursor: pointer;
    user-select: none;
}

#mainLogo:hover {
    animation: animation 1000ms linear backwards alternate-reverse;
}

@keyframes  animation {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1em;
}

#canvasHintergrund {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

 #teilnehmerlisteID{
    margin-left: 100px;
     background: white;
     border-radius: 10px;
     width: 200px;
}
 #aufgabenID{
     margin-left: 100px;
     background: white;
     border-radius: 10px;
 }
 #literaturNotizenID{
     margin-right: 100px;
     background: white;
     border-radius: 10px;
 }
 #erinnerungsmail{
     margin-right: 100px;
     background: white;
     border-radius: 10px;
 }
legend {
    font-weight: 900;
}

main article:first-child ul {
    font-size: 15pt;
    list-style-type: square;
}

main article:first-child ul li {
    font-style: italic;
    font-weight: 50;
    color: #adadad;
    margin: 9px 0;
}

main article:first-child ul li::marker {
    color: #000;
}

/*Ende Personen */



.oberhaus:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr;
}

.oberhaus:nth-child(3) fieldset {
    min-height: 165px;
}

.oberhaus:nth-child(3) fieldset textarea {
    min-height: 155px;
    min-width: 98%;
}

.unterhaus1 {
    grid-column: 1 / 3;
}

.aufgaben{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8px;
}

.unteraufgabeLinks {
    grid-column: 1 / 3;
}

.unteraufgabeLinks input {
    width: 90%;
    border: 1px solid #adadad;
    border-radius: 3px;
}

.aufgaben div:nth-child(even) {
    font-size: 8pt;
}

.aufgaben div:nth-child(odd) input {
    font-size: 8pt;
    padding: 6px;
}

#aufgabe_1, #aufgabe_3 {
    color: white;
    background-color: #AB63A0;
}

#aufgabe_2 {
    background-color: #F5D5F0;
}

.erinnerungsmails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 9pt;
    text-align: center;
    border: none;
}

.erinnerungsmails fieldset {
    min-height: 98%;
}

.erinnerungsmails img {
    max-height: 30px;
}

.erinnerungsmails div {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
}

/*Beginn Literatur und Links*/

ul, #literatur {
    list-style-type: none;
}

#literatur {
    margin: 0;
    padding: 0;
}
.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: #C3F7F4;
    display: inline-block;
    margin-right: 10px;
}
/* Pfeil drehen beim Aufklappen (JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}
/* nested bzw. active anzeigen (JavaScript) */
.nested {
    display: none;
}
.active {
    display: block;
}
/* Lost Elements */
#neuesProjekt{
    max-height: 50px;
    max-width:  50px;
}
/* Einstellungsstyles */
.setting{
    max-height: 13px;
    max-width: 13px;
    visibility: hidden;
}
.settingON{
    max-height: 13px;
    max-width: 13px;
    visibility: visible;
}
.elementOFF{
    visibility: hidden;
}
.elementON{
    visibility: visible;
}

#projektformular{
    background-color: #F8EFC8;
    border: 2px solid #ABA27D;
    border-radius: 10px;
    text-align: left;
    margin-top: -400px;
    margin-left: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#projektformular label {
    width:150px;
    display: inline-grid;
    padding:1px;
}
#projektformular input {
    height:15px;
    width:150px;
    padding:5px 5px;

    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

#projektformular button {
    margin-left: 30px;
    padding: 8px;
    width: 95px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;

}
#projektSpeichern {
    background-color: #C3F7F4;
}

#bearbeitungSpeichern {
    background-color: #C3F7F4;
    z-index: -1;
}

#bearbeitungSpeichern:hover{
    background-color: #AB63A0;
}

#projektSpeichern:hover{
    background-color: #AB63A0;
}
#projektAbbrechen:hover{
    background-color: #adadad;
}

/*
    Folgende zwei Blöcke manipulieren das das Design der Validierung
    Quelle invalid.png : https://de.wikipedia.org/wiki/Datei:Attention_niels_epting.svg
    Quelle valid.png: https://webstockreview.net/pict/getfirst

*/
#projektformular input:focus:invalid {
    background: white url("../images/invalid.png") no-repeat right;
    background-size: 23px;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}


#projektformular input:focus:valid {
    background: url("../images/valid.png") no-repeat right;
    background-size: 23px;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.projektButton{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    width: 95px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

#projektAnlegen{
    background-color: #C3F7F4 ;
}
#projektAnlegen:hover{
    background-color: #AB63A0;
}
#projektBearbeiten{
    background-color: #F8EFC8;
}
#projektBearbeiten:hover{
    background-color: #ABA27D;
}
#projektLoeschen:hover{
    background-color: #adadad;
}
footer {
    position: absolute;
    bottom: 0;
    line-height: 20px;
    width: 100%;
    text-align: center;
    background: #AB63A0;
}
footer a{
    color: #F8EFC8;
}
@media (prefers-color-scheme: dark) {

    body{
        background-color: #585558;
        opacity: 75%;
    }
    #teilnehmerlisteID{
        background: #585558;
    }
    #aufgabenID{
        background: #585558;
    }
    #literaturNotizenID{
        background: #585558;
    }
    #erinnerungsmail{
        background: #585558;
    }

    main article:first-child ul li {
        color: #adadad;
    }

    main article:first-child ul li::marker {
        color: whitesmoke;
    }

    .unteraufgabeLinks input {
        border: 1px solid #adadad;
    }
    #projektformular{
        color: #585558;
    }
    #projektformular label{
    color: #585558;
    }
}