
article.projekte section {
    position: absolute;
    display: block;
    width: 480px;
    height: 200px;
    top: 100px;
    border: solid #000000;
    border-width: 1px 1px 1px 1px;
}

article.projekte section h2 {
    position: absolute;
    left: 0;
    top: -30px;
    width: 119px;
    height: 29px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: #F5D5F0;
    border-radius: 15px 15px 0 0;
    border: solid #000000;
    border-width: 1px 1px 0 1px;
    z-index: 1;
}

article.projekte section:nth-child(2) h2 {
    left: 120px;
    z-index: 0;
}

article.projekte section:nth-child(3) h2 {
    left: 240px;
    z-index: -1;
}
article.projekte section:nth-child(4) h2 {
    left: 360px;
    z-index: -2;
}

article.projekte section h2 a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;          /* Verlinkung ausblenden */
    color: #000000;
}
article.projekte section:target, article.projekte section:target h2 {
    color: #FFFFFF;
    background-color: #AB63A0;
    z-index: 1;
}

article.projekte section:target h2 a {
    color: #FFFFFF;
}

article.projekte section:target, article.projekte section:target p {
    color: #000000;
    background-color: #FFFFFF;
    z-index: 1;
}

