body {
  /*background-image: url("../images/palebluedot.jpg");*/
  /*background-position: right top;*/
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

div.poem {
  display: inline-block;
  width: 63%;
  margin: 70px;
  padding: 20px;
  border:1px solid black;
  background: rgba(255,255,255,0.4);
  font-weight: bold;
}

p {
  text-align: center;
}

p.attribution {
  font-style: italic;
  margin-top: 40px;
  margin-right: 40px;
  font-weight: normal;
  text-align: right;
}

table {
  border-spacing: 0;
}

th {
  background-color: maroon;
  color: white;
  text-align: left;
  font-weight: bold;
}

td {
  border-right-color: maroon;
  border-right-style: solid;
  border-right-width: 1px;
}

td:last-child {
  border-right-style: none;
}

tr {
  color: black;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

tr:nth-child(even) {
  background-color: darkgrey;
}

tr:hover {
  background-color: red;
  color: white;
}


