a:link {
    color: #fcfe17;
    font-weight: bolder;
    font-variant: small-caps;
    text-decoration: none;
}

a:visited {
    color: #0f39ff;
    font-weight: lighter;
    font-variant: small-caps;
    text-decoration: none;
}

#1:hover {
    color:#01d823;
    border-bottom: 3px double #01d823;
}

a:focus{
    color: #FF0000;
}

a:active {
    color: #885ac7;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: line-through;
}